// Fonter for prosjektet hentet fra Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$fontFamily: 'Open Sans', sans-serif;
$fontWeightRegulas: 400;
$fontWeightBold: 700;
$fontTalic: italic;
$fontSize-large: 30px;
$fontSize-medium: 24px;
$fontSize-small: 20px;